[Unit]
Description=Update the mcu.cfg file with the CAN0 UUID
After=network.target
Requires=moonraker.service

[Service]
ExecStart=/home/biqu/mcuUpdate1.sh
Restart=always
User=root
Group=root
Type=simple

[Install]
WantedBy=multi-user.target
